/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
.noUi-connect {
  height: 100%;
  width: 100%;
}
.noUi-origin {
  height: 10%;
  width: 10%;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

html {
    font-size:  10px;
}
*,*::before,*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
}
p, ul {
    margin: 0;
}
ul {
    padding: 0;
    list-style: none;
}
button {
    font: inherit;
    background: transparent;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.block_mt-3px {
    margin-top: -0.3rem;
}
.block_mt-2px {
    margin-top: -0.2rem;
}
.block_mt5px {
    margin-top: 0.5rem;
}
.block_mt2px {
    margin-top: 0.2rem;
}
.block_mt4px {
    margin-top: 0.4rem;
}
.block_mt7px {
    margin-top: 0.7rem;
}
.block_mt-1px {
    margin-top: -0.1rem;
}
.block_mt1px {
    margin-top: 0.1rem;
}
.block_mt62px {
    margin-top: 6.2rem;
}
.block_mt14px {
    margin-top: 1.4rem;
}

.block_mb20px {
    margin-bottom: 2rem;
}
.block_mb22px {
    margin-bottom: 2.2rem;
}
.block_mb40px {
    margin-bottom: 4rem;
}
.block_mb41px {
    margin-bottom: 4.1rem;
}
.block_mb5px {
    margin-bottom: 0.5rem;
}
.block_mb16px {
    margin-bottom: 1.6rem;
}
.block_mb10px {
    margin-bottom: 1rem;
}
.block_mb11px {
    margin-bottom: 1.1rem;
}
.block_mb14px {
    margin-bottom: 1.4rem;
}
.block_mb13px {
    margin-bottom: 1.3rem;
}
.block_mb30px {
    margin-bottom: 3rem;
}
.block_mb31px {
    margin-bottom: 3.1rem;
}
.block_mb7px {
    margin-bottom: 0.7rem;
}
.block_mb19px {
    margin-bottom: 1.9rem;
}
.block_mb17px {
    margin-bottom: 1.7rem;
}
.block_mb8px {
    margin-bottom: 0.8rem;
}
.block_mb9px {
    margin-bottom: 0.9rem;
}
.block_mb15px {
    margin-bottom: 1.5rem;
}
.block_mb23px {
    margin-bottom: 2.3rem;
}
.block_mb24px {
    margin-bottom: 2.4rem;
}
.block_mb12px {
    margin-bottom: 1.2rem;
}
.block_mb26px {
    margin-bottom: 2.6rem;
}
.block_mb38px {
    margin-bottom: 3.8rem;
}
.block_mb39px {
    margin-bottom: 3.9rem;
}
.block_mb44px {
    margin-bottom: 4.4rem;
}
.block_mb21px {
    margin-bottom: 2.1rem;
}
.block_mb1px {
    margin-bottom: 0.1rem;
}
.block_mb25px {
    margin-bottom: 2.5rem;
}
.block_mb18px {
    margin-bottom: 1.8rem;
}
.block_mb6px {
    margin-bottom: 0.6rem;
}
.block_mb70px {
    margin-bottom: 7rem;
}
.block_mb4px {
    margin-bottom: 0.4rem;
}
.block_mb33px {
    margin-bottom: 3.3rem;
}
.block_mb45px {
    margin-bottom: 4.5rem;
}

.block_ml223px {
    margin-left: 22.3rem;
}
.block_ml10px {
    margin-left: 1rem;
}
.block_ml20px {
    margin-left: 2rem;
}
.block_ml19px {
    margin-left: 1.9rem;
}
.block_ml30px {
    margin-left: 3rem;
}
.block_ml180px {
    margin-left: 18rem;
}
.block_ml72px {
    margin-left: 7.2rem;
}
.block_ml180px {
    margin-left: 18rem;
}
.block_ml126px {
    margin-left: 12.6rem;
}
.block_ml40px {
    margin-left: 4rem;
}
.block_ml4px {
    margin-left: 0.4rem;
}
.block_ml16px {
    margin-left: 1.6rem;
}
.block_ml216px {
    margin-left: 21.6rem;
}
.block_ml-3px {
    margin-left: -0.3rem;
}
.block_ml22px {
    margin-left: 2.2rem;
}
.block_ml9px {
    margin-left: 0.9rem;
}
.block_ml12px {
    margin-left: 1.2rem;
}
.block_ml11px {
    margin-left: 1.1rem;
}
.block_ml14px {
    margin-left: 1.4rem;
}
.block_ml60px {
    margin-left: 6rem;
}
.block_ml70px {
    margin-left: 7rem;
}
.block_ml8px {
    margin-left: 0.8rem;
}
.block_ml6px {
    margin-left: 0.6rem;
}
.block_ml62px {
    margin-left: 6.2rem;
}

.block_mr20px {
    margin-right: 2rem;
}
.block_mr9px {
    margin-right: 0.9rem;
}
.block_mr-9px {
    margin-right: -0.9rem;
}
.block_mr1px {
    margin-right: 0.1rem;
}
.block_mr4px {
    margin-right: 0.4rem;
}
.block_mr15px {
    margin-right: 1.5rem;
}


@media (max-width: 1439px) {
    .block_ml70px {
        margin-left: 30px;
    }
}
@media (max-width: 1300px) {
    .block_ml70px {
        margin: auto;
    }
}
.text {
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    color: #1f2041;
    line-height: 1.5rem;
    /* во всех браузерах по умолчанию font-weight: 400, font-style: normal */
}
.text_s {
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.text_b {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.text_m {
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 700;
}
.text_l {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 700;
}
.text_c {
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: rgba(31, 32, 65, 0.5);
}


.text_fs14 {
    font-size: 1.4rem;
}
.text_fs24 {
    font-size: 2.4rem;
}
.text_fs20 {
    font-size: 2rem;
}


.text_lh14 {
    line-height: 1.4rem;
}
.text_lh17 {
    line-height: 1.7rem;
}
.text_lh18 {
    line-height: 1.8rem;
}
.text_lh29 {
    line-height: 2.9rem;
}
.text_lh20 {
    line-height: 2rem;
}
.text_lh22 {
    line-height: 2.2rem;
}
.text_lh14 {
    line-height: 1.4rem;
}
.text_lh24 {
    line-height: 2.4rem;
}


.text_bold {
    font-weight: 700;
}
.text_ttu {
    text-transform: uppercase;
}
.text_ttn {
    text-transform: none;
}


.text_BC9CFF {
    color: #BC9CFF;
}
.text_1F2041-05 {
    color: rgba(31, 32, 65, 0.5);
}
.text_1F2041-075 {
    color: rgba(31, 32, 65, 0.75);
}
.text_1F2041-025 {
    color: rgba(31, 32, 65, 0.25);
}
.text_FFF {
    color: #FFF;
}
.text_000 {
    color: #000;
}

.text_right {
    text-align: right;
    float: right;
}

.text_block {
    display: block;
}
.text_position {
    text-align: left;
}
.text_position-search {
    text-align: left;
}

@media (max-width: 1200px) {
    .text_position-search {
        text-align: center;
    }
}
@media (min-width: 576px) {
    .text__br {
        display: none;
    }
    
}
@media (max-width: 576px) {
    .text_position {
        text-align: center;
    }
}
.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.field_small {
    width: 15rem;
}
.field_middle {
    width: 26.6rem;
}
.field_small-pp {
    margin-right: -2px;
}
.field__text {
    width: 50%;
}
.field_calendar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}
.field_calendar-active {
    display: block;
}

@media (max-width:575px) {
    .field_small {
        width: calc(50% - 4px);
    }
}
.input {
    width: 100%;
    height: 4.4rem;
    padding: 0 1.5rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    outline: none;
}
.input::placeholder {
    color: rgba(31, 32, 65, 0.25);
}
.input:hover, .input:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.input_square-angles {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    appearance: none;
}
.input_border-color {
    border: 1px solid rgba(31, 32, 65, 0.5);
}
.input_hidden::-webkit-calendar-picker-indicator {
    opacity: 0;
    margin: 0;
    padding: 0;
}

@media (max-width:360px) {
    .input {
        padding: 0 1rem;
    }
}
.check-mark {
    position: relative;
    display: block;
    width: 100%;
}
.check-mark::after {
    content: "";
    position: absolute;
    top: 2.2rem;
    margin-top: -0.65rem;
    right: 1.75rem;
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}

@media (max-width:360px) {
    .check-mark::after {
        right: 1.7rem;
    }
}
.input-wrapper {
    display: flex;
    justify-content: space-between;
}
.form-field__button {
    display: block;
    margin-top: -4.4rem;
    width: 4.4rem;
    height: 4.4rem;
}
.form-field__button::after {
    content: url(img/arrow_forward_violet.png);
}
.checkbox-button {
    display: flex;
}
.checkbox-buttons__wrapper{
    width: 22.2rem;
}
.checkbox-button__input {
    display: none;
}
.checkbox-button__fake-input {
    position: relative;
    min-width: 2rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
}
.checkbox-button__fake-input::before, 
.checkbox-button__fake-input::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.3rem;
    height: 0.8rem;
    width: 0.6rem;
    transform: rotate(45deg);
}
.checkbox-button__fake-input::before {
    display: none;
    margin-top: -0.5rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.checkbox-button__fake-input::after {
    margin-top: -0.8rem;
    background: #FFFFFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input {
    border: 1px solid #BC9CFF;
}
.checkbox-button__input:checked + .checkbox-button__fake-input::before {
    display: block;
}
.radio-button_round {
    border-radius: 50%;
}
.radio-button_round::before {
    margin-left: -0.6rem;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
}
.radio-button_round::after {
    display: none;
}
.radio-button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 22.074rem;
}
.radio-button {
    display: flex;
}
.radio-button__input {
    display: none;
}
.radio-button__input:checked + .radio-button_round {
    border: 1px solid #BC9CFF;
}
.radio-button__input:checked ~ .text {
    color: rgba(31, 32, 65, 0.75);
}
.radio-button__input:checked + .radio-button_round::before {
    display: block;
}
.toggle {
    display: flex;
}
.toggle__input {
    display: none;
}
.toggle__input_fake {
    position: relative;
    min-width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
}
.toggle__input_fake::before {
    content: "";
    position: absolute;
    left: 0.3rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
}
.toggle__input_fake::after {
    content: "";
    position: absolute;
    display: none;
    right: 0.3rem;
    top: 50%;
    margin-top: -0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__input:checked + .toggle__input_fake {
    border: 1px solid #BC9CFF;
}
.toggle__input:checked + .toggle__input_fake::before {
    display: none;
}
.toggle__input:checked + .toggle__input_fake::after {
    display: block;
}
.button-like {
    display: flex;
    align-items: center;
    min-width: 4rem;
    height: 2rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 1rem;
    background: #FFFFFF;
    font-size: 1rem;
    line-height: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.6rem;
    outline: none;
}
.button-like::before {
    content: "";
    display: block;
    width: 0.9rem;
    height: 0.8rem;
    margin-right: 0.6rem;
    background-image: url(img/favorite_border.png);
}
.button-like__text {
    color: rgba(31, 32, 65, 0.25);
}
.button-like__heart {
    width: 0.9rem;
    margin-right: 0.6rem;
}
.button-like__text { 
    min-width: 0.8rem;
    text-align: center;
}
.button-like_pressed {
    border-color: #BC9CFF;
}
.button-like_pressed .button-like__text {
    color: #BC9CFF;
}
.button-like_pressed::before {
    background-image: url(img/favorite.png);
}
.button-like_PP {
    margin-left: 3px;
    margin-top: -4px;
}
.button-like-text_PP {
    margin-top: -4px;
}
.button-like__rd-pp {
    margin-left: 3px;
}
.button-like_js {
    
}

.slider__name {
    display: inline-block;
}

.noUi-target {
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    margin-top: 2.3rem;
}
.noUi-horizontal {
    height: 0.6rem;
}
.noUi-horizontal .noUi-handle {
    width: 14px;
    height: 14px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 1rem;
    right: -7px;
    top: -5px;
}
.noUi-handle:before, .noUi-handle:after {
    content: none;
}
.noUi-connect {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.rate-button {
    display: flex;
}
.button-star {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}
.button {
    height: 4.4rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 9.9rem;
    letter-spacing: -0.02rem;
}
.button_opacity {
    opacity: 0.5;
}
.button-header {
    height: 3.4rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}
.button-header_bordered {
    position: relative;
    z-index: 0;
}
.button-header_bordered::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    border-radius: 2.2rem;
    left: 0.2rem;
    top: 0.2rem;
    right: 0.2rem;
    bottom: 0.2rem;
}
.button_bordered {
    position: relative;
    z-index: 0;
}
.button_bordered::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: #fff;
    border-radius: 2.2rem;
    left: 0.2rem;
    top: 0.2rem;
    right: 0.2rem;
    bottom: 0.2rem;
}
.button_bordered-tran {
    background: linear-gradient(180deg, rgba(188,156,255,0.5) 0%, rgba(139,164,249,0.5) 100%);
}
.button_long {
    min-width: 32rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: relative;
    padding-left: 1.7rem;
    letter-spacing: 0;
}
.button_long-ui {
    padding-left: 1.9rem;
}
.button_long::after {
    content:"";
    position: absolute;
    width: 4.4rem;
    height: 4.4rem;
    right: 0;
    top: 50%;
    margin-top: -2.2rem;
    background-image: url(img/arrow_forward_white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.buttonPP {
    margin-left: -2px;
}
.button_js-clear-hidden {
    display: none;
}

@media (max-width:991px) {
    .button-header {
        margin-left: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 575px) {
    .button_long {
        min-width: 100%;
    }
}
.pagination {
    display: flex;
}
.pagination__href-arrow_d-none {
    display: none;
}
.pagination__href {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: #FFFFFF;
}
.pagination__href_arrow {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
/* если display_n поднять выше не работает */
.pagination__href_d-none {
    display: none;
}
.pagination-pp {
    padding-left: 0.6rem
}
.pagination__href_active {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF;
}
.pagination-text-center {
    display: flex;
    justify-content: center;
}


@media (min-width:576px) and (max-width: 729px) {
    .pagination__href {
        width: 3rem;
        height: 3rem;
    }
}
.dropdown {
    width: 26.6rem;
    position: relative;
}
.dropdown_pp {
    margin-left: -1px;
    margin-top: 1px;
}
.dropdown_pp2 {
    margin-left: 1px;
    /* margin-top: 1px; */
}
.dropdown__wrapper {
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 0.6rem 0.7rem 1.3rem 1.5rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.dropdown__wrapper::after {
    display: block;
    clear: both;
    content: "";
}
.dropdown__wrapper2 {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top: none;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    padding: 0.6rem 0.7rem 1.3rem 1.5rem;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.dropdown__wrapper2::after {
    display: block;
    clear: both;
    content: "";
}
.dropdown__wrapper_off-buttons {
    padding-bottom: 0.8rem;
}
.dropdown__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown__flex_text-pp {
    margin-left: -2px;
    margin-top: -3px;
}
.dropdown__flex_text-pp2 {
    margin-left: -1px;
    margin-top: -5px;
}
.dropdown__button {
    width: 3rem;
    height: 3rem;
    background: #FFFFFF;
    border-radius: 50%;
    border: 0.1rem solid rgba(31, 32, 65, 0.25);
    font-family: Montserrat;
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(31, 32, 65, 0.5);
}
.dropdown__button_tran {
    opacity: 0.38;
}
.dropdown__buttons {
    display: flex;
    align-items: center;
}
.dropdown__amount {
    min-width: 3.1rem;
    text-align: center;
    line-height: 16px;
}
.dropdown_w32 {
    width: 32rem;
}
.dropdown_w32-add {
    width: 32rem;
}
.dropdown__wrapper {
    display: none;
}
.dropdown__wrapper_active {
    display: block;
}
.expandable-list {
    outline: none;
}
.expandable-list:first-child {
    margin-bottom: 4.9rem;
}
.expandable-list__summary {
    display: block;
    outline: none;
}
.expandable-list__summary::-webkit-details-marker {
    display: none;
}
.expandable-list[open] > .expandable-list__summary::after {
    transform: rotate(-135deg);
    margin-top: -0.2rem;
}
.checkbox-list {
    display: flex;
    flex-direction: column;
}
.rich-Checkbox-Buttons {
    width: 26.6rem;
}
.rich-Checkbox-Buttons_t1 {
    width: 20.3rem;
}
.rich-Checkbox-Buttons_t2 {
    width: 23rem;
}
.bullet-list__item {
    position: relative;
    display: flex;
    margin-bottom: 1.3rem;
}
.bullet-list__text {
    line-height: 2.1rem;
}
.bullet-list__item::before {
    content: "";
    display: block;
    min-width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
    margin-top: 0.4rem;
}
.bullet-list__item-det {
    position: relative;
    display: flex;
}
.bullet-list__item-det::before {
    content: "";
    display: block;
    min-width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25);
    margin-top: 0.4rem;
}
.room-advantages {
    width: 29.1rem;
}
.advantages {
    display: flex;
    border-bottom: 0.1rem solid rgba(31, 32, 65, 0.1);
    padding-bottom: 2rem;
}
.advantages:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.advantages__img {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages__img_PP {
    margin-top: -2px;
}
.advantages_padding-down {
    padding-top: 2rem;
}

.comments {
    display: flex;
}
.comments__img {
    margin-top: 3px;
}
.comments__img2 {
    margin-top: 2px;
}
.like-comments {
    display: flex;
}
.radio-button-wrapper {
    display: flex;
}
.href-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.room-search {
    width: 38rem;
    height: 37.4rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 3rem 3rem 3rem;
}

@media (max-width:767px) {
    .room-search {
        margin-bottom: 15rem;
    }
}
@media (max-width:575px) {
    .room-search {
        padding: 3rem 2rem 2rem 2rem;
        width: calc(100% + 4rem);
        margin-left: -2rem;
    }
}
@media (max-width:360px) {
    .room-search {
        width: calc(100% + 4rem);
    }
}
.account-reg {
    width: 38rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 2.9rem 3rem 3rem;
}
.account-reg__pp {
    margin-left: -1px;
    margin-top: -1px;
}

@media (max-width:575px) {
    .account-reg {
        width: 36rem;
        padding: 3rem 2rem 2rem 2rem;
    }
}
@media (max-width:360px) {
    .account-reg {
        width: 100%;
    }
}
.booking {
    width: 38rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 3rem 3rem 3rem;
    height: 51.1rem;
}
.booking-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.booking-wrapper_dots {
    background: inherit;
    position: relative;
}
.booking-wrapper_dots::before {
    content: '';
    position: absolute;
    bottom: 2px;
    width: 100%;
    border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
}
.booking-wrapper__total {
    background: inherit;
    padding-right: 5px;
    /* так как booking-wrapper_dots::before position: absolute; он на первом плане, чтобы вывести фон на первый план, booking-wrapper__price задали relative  */
    position: relative;
}
.booking-wrapper__price {
    background: inherit;
    padding-left: 5px;
    position: relative;
}
.booking-wrapper-top {
    display: flex;
    justify-content: space-between;
}
.booking__room-name {
    display: flex;
    align-items: flex-end;
}
.booking__room-number-pp {
    margin-left: 4px;
    margin-top: -2px;
    margin-bottom: -2px;
}
.booking__room-price {
    margin-top: 9px;
}
.booking__wr {
    display: flex;
}
.booking__min-w {
    min-width: 21.4rem;
}
.booking__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin-top: -0.1rem;
    margin-left: 0.5rem;
}
.booking__text {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: rgba(31, 32, 65, 0.25);
}
.booking__logo-details {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    margin-left: 0.8rem;
}
.booking__logo-details_m {
    margin-right: 44px;
}


@media (max-width:575px) {
    .booking {
        width: 36rem;
        padding: 3rem 2rem 2rem 2rem;
    }
}
@media (max-width:360px) {
    .booking {
        width: 100%;
    }
}
.enter {
    width: 38rem;
    background: #FFFFFF;
    border: 0.1rem solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 2.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    padding: 4rem 3rem 3rem 3rem;
}
.enter {
    height: 35.8rem;
}
.enter__text-p_pp {
    margin-left: -1px;
    margin-top: -2px;
}
.enter__input-pp {
    margin-top: -6px;
}


@media (max-width:575px) {
    .enter {
        width: 36rem;
        padding: 3rem 2rem 2rem 2rem;
    }
}
@media (max-width:360px) {
    .enter {
        width: 100%;
    }
}
.calendar {
    width: 32rem;
    background-color: #FFFFFF;
    padding: 1.9rem;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
    z-index: 1;
    /* padding-left: 2rem; */
    /* position: absolute; */
}
.calendar-js {
    position: absolute;
}
.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text__header-pp {
    margin-top: 1px;
}
.calendar__header_arrow-l {
    margin-left: 4px;
    margin-top: 3px;
}
.calendar__header_arrow-r {
    margin-right: 4px;
    margin-top: 3px;
} 
.calendar__table {
    border-collapse: collapse;
}
.calendar__td {
    text-align: center;
    vertical-align: center;
    height: 40px;
    width: 40px;
}
.calendar__green {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}
.calendar_purple {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}




.datepicker {
    opacity: 0;
    left: -10000px;
}
.datepicker--nav-title, .datepicker--nav-title i{
    margin-top: 1px;
    font-size: 1.9rem;
    line-height: 2.3rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif, Helvetica;
    color: #1f2041;
}
.datepicker--nav-action {
    /* background-image: url(); */
    /* position: center;
  no-repeat */
}

.datepicker--pointer {
    display: none;
}
.datepicker--day-name {
    text-align: center;
    height: 40px;
    width: 40px;
    color: #BC9CFF;
    font-weight: 700;
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    line-height: 4rem;
}
.datepicker--cell-day {
    text-align: center;
    height: 40px;
    width: 40px;
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    color: #1f2041;
    line-height: 4rem;
}
.datepicker--nav-action {
    background-image: url(img/arrow_back.png);
    background-repeat: no-repeat;
    width: 1.7rem;
    height: 1.8rem;
    margin-left: 4px;
    margin-top: 3px;
}
.datepicker--nav-action:last-child {
    transform: rotate(180deg)
}
.datepicker--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.datepicker--nav svg {
    display: none;
}
.datepicker--nav-action.-disabled- {
    visibility: hidden;
}
.datepicker--days-names {
    display: flex;
}
.datepicker--cells-days {
    display: flex;
    flex-wrap: wrap;
}
.-selected- {
    border-radius: 50%;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: #FFF;
    font-weight: 700;
}
.-range-from-, .-range-to- {
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFF;
    font-weight: 700;
    position: relative;
    z-index: 0;
}
.-range-from-::after {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.-range-to-::before {
    content: "";
    position: absolute;
    right: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.-in-range- {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
}
.datepicker.active {
    opacity: 1;
}
.datepicker--buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.datepicker--button {
    color: #BC9CFF;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat", sans-serif, Helvetica;
    font-size: 1.2rem;
    line-height: 1.5rem;
    background: transparent;
    padding: 0;
    border: none;
}
.room-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 0.8rem;
    padding: 1.6rem 0 0.8rem 0;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}
.room-info__number-pp {
    margin-right: 4px;
    margin-bottom: 4px;
}
.room-info__price-pp-cards {
    padding-top: 4px;
    margin-right: -3px;
}
.room-info__price-pp {
    padding-top: 4px;
    margin-right: -2px;
}
.room-info__small-text-pp {
    margin-left:3px;
}
.room-info__text-flex {
    display: flex;
    align-items: flex-end;
}

@media (min-width: 861px) and (max-width: 1439px) {
    .room-info {
        flex-wrap: wrap;
    }
    .room-info__price-pp {
        width: 100%;
        text-align: center;
    }
    .room-info__text-flex {
        justify-content: center;
        width: 100%;
    }
}

@media (min-width:576px) and (max-width: 729px) {
    .room-info {
        justify-content: center;
        flex-wrap: wrap;
    }
    .room-info__price-pp {
        width: 100%;
        text-align: center;
    }
}
.room {
    width: 27rem;
    background-color: #FFFFFF;
    box-shadow: 0 1rem 2rem rgba(31, 32, 65, 0.05);
    border-radius: 0.4rem;
    padding-bottom: 1.9rem;
}
.room__img-wr {
    width: 100%;
    position: relative;
    /* display: flex;
    justify-content: space-between; */
}
.room__img {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    width: 100%;
}
.room__button {
    top: 0;
    position: absolute;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);;
    width: 4.2rem;
    height: 100%;
    align-items: center;
    display: none;
    outline: none;
    border-top-left-radius: 0.4rem;
}
.room__button_right {
    right: 0;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.room__img-wr:hover .room__button {
    display: flex;
}
.room__button::after {
    content: "";
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.2rem solid #FFF;
    border-left: 0;
    border-top: 0;
    pointer-events: none;
    transform: rotateZ(135deg);
    left: 20px;
}
.room__rounds-wrapper {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    height: 0.7rem;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.room__image-scroll {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    border: 1px solid #FFF;
    outline: none;
}
.room__image-scroll_active,
.slick-active .room__image-scroll {
    background-color: #FFF;
}
.room__text-wr {
    width: 23rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    margin-left: 2rem;
    margin-right: 1.7rem;
}
.room__like-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.room__star-wrapper {
    display: flex;
}
.room__button-star {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #FFFFFF;
    padding: 0;
    border: none;
}
.room__text-wrapper {
    height: 2.4rem;
    display: flex;
    align-items: center;
}


@media (min-width:861px) and (max-width:1439px) {
    .room__like-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
    .room__star-text {
        width: 100%;
        margin-top: 0.5rem;
        text-align: center;
    }
}

@media (min-width:576px) and (max-width: 729px) {
    .room__like-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }
    .room__star-text {
        width: 100%;
        margin-top: 0.5rem;
        text-align: center;
    }
}
.form-field-button-hf {
    display: block;
    margin-top: -4.4rem;
    width: 4.4rem;
    height: 4.4rem;
}
.form-field-button-hf::after {
    content: url(img/arrow_forward_violet.png);
}
.header-guest {
    position: relative;
    min-height: 7rem;
    display: flex;
    align-items: center;
    background: #FFF;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header-guest__l-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-guest__list {
    position: relative;
    padding-right: 2.5rem;
}
.header-guest__list::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.65rem;
    right: 0.6rem;
    width: 0.9rem;
    height: 0.9rem;
    border: 0.2rem solid rgba(31, 32, 65, 0.5);
    border-left: 0;
    border-top: 0;
    transform: rotateZ(45deg);
    pointer-events: none;
}
.header-guest__list:hover > .submenu {
    display: block;
}
.header-guest__button {
    min-width: 19.6rem;
    height: 3.4rem;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 2.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
}
.header-guest__border {
    width: 0.1rem;
    height: 3rem;
    background: rgba(31, 32, 65, 0.1);
}


@media (max-width:991px) {
    .header-guest__l-wr {
        display: none;
        position: absolute;
        top: 7rem;
        right: 0;
        padding: 1rem;
        background-color: #FFF;
        z-index: 1;
    }
    .header-guest__l-wr_active {
        display: block;
    }
    .header-guest__button {
        margin-left: auto;
        display: block;
    }
}
.logo-toxin {
    min-width: 10.5rem;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;
    justify-content: flex-end;
}
.header-list__item {
    margin-bottom: 1rem;
}
.header-list__item:not(:last-child) {
    margin-right: 2rem;
}


@media (max-width:1200px) {
    .header-list__li-breaker {
        min-width: 100%;
    }
}
@media (max-width:991px) {
    .header-list {
        display: block;
        text-align: right;
        margin-bottom: 0;
    }
}
.submenu {
    display: none;
    position: absolute;
    background: #FFF;
}
.footer {
    min-height: 37.2rem;
    background: #FFF;
    padding: 10rem 0;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    display: flex;
    justify-content: space-between;
}
.footer__column1 {
    min-width: 26rem;
    width: 26rem;
}
.footer__img {
    display: block;
}
.footer__column2 {
    min-width: 14.3rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.footer__column3 {
    min-width: 10.8rem;
    margin-left: 5.7rem;
    display: flex;
    flex-direction: column;
}
.footer__column4 {
    min-width: 14.9rem;
    margin-left: 9.2rem;
    display: flex;
    flex-direction: column;
}
.footer__column5 {
    min-width: 26rem;
    width: 26rem;
    margin-left: 5.1rem;
    display: flex;
    flex-direction: column;
}

@media (max-width:1439px) {
    .footer {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__column1 {
        min-width: 23rem;
    }
    .footer__column2 {
        min-width: 20rem;
    }
    .footer__column2, .footer__column3, .footer__column4, .footer__column5 {
        margin-left: 0;
    }
    .footer__flex-break {
        min-width: 100%;
    }
    .footer__column4, .footer__column5 {
        margin-top: 4rem;
    }
}

@media (max-width: 767px) {
    .footer {
        display: none;
    }
}
.footer-copyright {
    min-height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

@media (max-width: 767px) {
    .footer-copyright {
        display: none;
    }
}
.footer-media {
    display: flex;
    justify-content: space-between;
    margin-right: 0.2rem;
}
.footer-wrapper-768 {
    max-width: 76.8rem;
    height: 36.7rem;
    display: none;
    background: #FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer-wrapper-768_flex {
    display: flex;
}



@media (max-width:767px) {
    .footer-wrapper-768 {
        display: flex;
        /* max-width: 76.8rem;
        max-height: 36.7rem;
        width: 50rem;
        height: 36.7rem; */
    }
}
.burger-wrap {
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.burger {
    width: 25px;
    height: 5px;
    background-color: #BC9CFF;
    border-radius: 5px;
}
.burger-wrap-wrap__d{
    display: none;
}


@media (max-width:991px) {
    .burger-wrap-wrap__d{
        display: flex;
    }
}
.dropdown-calendar {
    position: relative;
}
.button-star {
    outline: none;
    cursor: pointer;
}
.button-star::before {
    content: "";
    display: block;
    width: 2rem;
    height: 1.9rem;
    background-image: url(img/star_border.png);
}
.button-star_pressed::before {
    background-image: url(img/star.png);
}
/* @import '~air-datepicker/dist/css/datepicker.min.css'; */
/* @import '~slick-carousel/slick/slick-theme.css'; */


.form-elements {
    padding-bottom: 13.1rem;
    display: flex;
    flex-direction: column;
}
.logo {
    margin-top: 3rem;
    margin-left: 3rem;
}
.form-elements__row {
    display: flex;
    margin-top: 6.5rem;
    margin-left: 14.1rem;
}
.form-elements__row1_column1 {
    width: 32rem;
}
.form-elements__row1_column2 {
    margin-left: 12.6rem;
    width: 26.2rem;
}
.form-elements__button-like-wr {
    display: flex;
}
.form-elements__rate-button-wr {
    display: flex;
}
.form-elements__row1_column3 {
    margin-left: 13rem;
}
.form-elements__button-wr {
    display: flex;
}
.form-elements__row2 {
    display: flex;
    margin-top: 10.1rem;
    margin-left: 14.1rem;
    margin-bottom: 17.3rem;
}
.form-elements__row2_column1 {
    width: 26.6rem;
}
.form-elements__row3 {
    display: flex;
    margin-left: 14.1rem;
    margin-bottom: 10.2rem;
}
.form-elements__row3_column1 {
    width: 26.6rem;
}
.form-elements__row4 {
    display: flex;
    margin-left: 14.1rem;
}
.form-elements__row4_column2 {
    width: 71.1rem;
    margin-top: 1rem;
    margin-left: 15.6rem;
}


.cards {
    display: flex;
    background: #F4F4F6;
    padding-right: 14rem;
    padding-bottom: 14rem;
}
.cards__lux {
    margin-bottom: 0.2rem;
}
.cards__column1 {
    width: 38rem;
    margin-top: 14.8rem;
}
.cards__column1__PP {
    margin-left: 6.1rem;
    margin-top: 15rem;
}
.cards__column3 {
    margin-top: 14.8rem;
}


.headers-footers {
    padding-bottom: 14rem;
    background: #F4F4F6;
}
/* .landing-page {
    width: 144rem;
} */
.container {
    padding-left: 14rem;
    padding-right: 14rem;
}
.page-background-image {
    height: 90rem;
    background-image: url(img/image-lp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 14rem;
    padding-bottom: 2.1rem;
    display: flex;
    justify-content: space-between;
    margin-top: -7rem;
}
.landingPage-text {
    width: 29.7rem;
    text-align: right;
    align-self: flex-end;
    margin-right: -0.6rem;
}
.landingPage__room-search {
    padding-top: 3.9rem;
    padding-left: 2.8rem;
}
.search-room {
    /* height: 135.7rem; */
    padding-top: 3rem;
    display: flex;
}
.search-room__room {
    width: 32.374%;
    margin-bottom: 1.9rem;
}
.search-room__room-info {
    padding-top: 1.8rem;
}
.search-room__column1 {
    width: 26.6rem;
    min-width: 26.6rem;
}
.search-room__rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}
.search-room__column2 {
    margin-left: 6rem;
    width: calc(100% - 32.6rem);
}
.search-room__lux {
    margin-left: 0.6rem;
    margin-bottom: 0.4rem;
}


.three-pictures {
    display: flex;
    height: 48.5rem;
}
.three-pictures__1pic {
    height: 100%;
    background-image: url(img/1imageFrom3.png);
    width: 68.125%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.three-pictures__2pics {
    width: 31.875%;
    display: flex;
    flex-direction: column;
}
.three-pictures__2pics_1 {
    height: 100%;
    background-image: url(img/2imageFrom3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.three-pictures__2pics_2 {
    height: 100%;
    background-image: url(img/3imageFrom3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.room-details__two-columns {
    display: flex;
    padding-bottom: 6.3rem;
}
.room-details__string1 {
    display: flex;
}
.room-details__info {
    margin-bottom: 3rem;
}
.room-details__impression {
    margin-left: 10.6rem;
}
.room-details__impression__two-columns {
    display: flex;
    margin-bottom: 3rem;
    position: relative;
}
.room-details__string2 {
    display: flex;
}
.room-details__rule {
    width: 50%;
}
.room-details__cansel {
    width: 48%;
}
.room-details__text-flex {
    display: flex;
    justify-content: space-between;
}
.room-details__text-pp {
    margin-top: 6px;
}
.room-details__lux {
    margin-left: 8px;
}
.room-details__9990x4-pp {
    margin-top: -2px;
}

.reg-background-image {
    height: 75.3rem;
    background-image: url(img/regBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 8.9rem;
    margin-top: -7rem;
}
.account-reg_m {
    margin-left: 5px;
}
.reg-background-image_h {
    height: 64.6rem;
}
.sign-background-image {
    height: 75.3rem;
    background-image: url(img/regBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    margin-top: -7rem;
}
.diagramm-text {
    position: absolute;
    top: 3.7rem;
    left: 6rem;
    color: #BC9CFF;
}



@media (max-width: 1919px) {
    
}
@media (max-width: 1439px) {
    .room-details__impression {
        margin-left: 20px;
    }
    .room-details__string1 {
        justify-content: space-between;
    }
    .room-details__string2 {
        margin-bottom: 2rem;
    }
    .account-reg_m {
        margin-left: 0;
    }
}
@media (max-width: 1300px) {
    .room-details__two-columns {
        display: inline;
    }
    .room-details__inner {
        padding-left: 14rem;
        padding-right: 14rem;
    }
    .room-details__impression {
        margin-left: 0;
    }
}
@media (max-width: 1199px) {
    .search-room__room {
        width: 48%;
    }
}
@media (max-width:991px) {
    .container {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .room-details__inner {
        padding-left: 7rem;
        padding-right: 7rem;
    }
    .room-details__string1 {
        justify-content: space-around;
    }
    .three-pictures {
        display: block;
        height: auto;
    }
    .three-pictures__1pic {
        height: 48.5rem;
        width: 100%;
    }
    .three-pictures__2pics {
        width: 100%;
        flex-direction: row;
        height: 24.2rem;
    }
    .three-pictures__2pics_1 {
        width: 50%;
    }
    .three-pictures__2pics_2 {
        width: 50%;
    }
}
@media (max-width:860px) {
    .search-room__room {
        width: 100%;
    }
}
@media (max-width:767px) {
    .room-details__inner {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}
@media (min-width:575px) and (max-width:767px) {
    .page-background-image {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .room-details__string1 {
        justify-content: space-between;
    }
    .room-details__impression__two-columns {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width:575px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .landingPage-text {
        margin-right: 0;
    }
    .page-background-image {
        flex-direction: column;
    }
    .room-details__inner {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .search-room {
        display: block;
    }
    .search-room__column1 {
        margin-left: auto;
        margin-right: auto;
    }
    .search-room__column2 {
        margin-top: 5rem;
        margin-left: 0;
        width: 100%;
    }
    .search-room__room {
        width: 100%;
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
    }
    .room-details__string1 {
        display: block;
    }
    .room-details__text-flex {
        display: block;
    }
    .room-details__string2 {
        display: block;
    }
    .room-details__rule {
        width: 100%;
    }
    .room-details__cansel {
        width: 100%;
    }
    .three-pictures__2pics {
        flex-direction: column;
        height: 48.5rem;
    }
    .three-pictures__2pics_1 {
        width: 100%;
    }
    .three-pictures__2pics_2 {
        width: 100%;
    }
    .room-details__impression__two-columns {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:360px) {
    .room-details__impression__two-columns {
        flex-direction: column;
    }
}
